# Backend
GROQ_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
SECRET_KEY=askrift-secret-key-change-in-production
CHROMA_PERSIST_PATH=./chroma_data

# Frontend
VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
